RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^appveyor$ appveyor.php [NC,L]
RewriteRule ^cpanel$ cpanel.php [NC,L]
RewriteRule ^domains$ domains.php [NC,L]
RewriteRule ^github$ github.php [NC,L]
RewriteRule ^healthchecksio$ healthchecksio.php [NC,L]
RewriteRule ^log-message$ log-message.php [NC,L]
RewriteRule ^messages$ messages.php [NC,L]
RewriteRule ^messages/delete$ messages-delete.php [NC,L]
RewriteRule ^postman$ postman.php [NC,L]
RewriteRule ^queues$ queues.php [NC,L]
RewriteRule ^uptimerobot$ uptimerobot.php [NC,L]
RewriteRule ^webhooks$ webhooks.php [NC,L]
RewriteRule ^wireguard$ wireguard.php [NC,L]