body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(13, 17, 23);
}

code {
  background-color: #000000;
  color: #ffffff;
  padding: 0 7px;
  border-radius: 24px;
  border: 1px solid #000;
  line-height: 21px;
  text-wrap: nowrap;
}

.gauge {
  width: 20%;
  height: 210px;
  float: left;
  background-color: white;
}

.topping {
  background: #FFF;
  width: calc(100% - 30px);
  padding: 10px;
  border: 5px orange dashed;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.floating-box {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 300px;
  z-index: 1050;
}

.gauge-container {
    width: 50%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.gauge-container .gauge {
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.gauge-container .gauge canvas {
    width: 100% !important;
    height: auto !important;
}
