RewriteEngine On

<Files "install.php">
    Require all denied
</Files>

<Files "deploy.zip">
    Require all denied
</Files>

RewriteCond %{HTTP_HOST} !^localhost:8000$ [NC]
RewriteCond %{HTTP_HOST} !^guilherme\.straccini\.com$ [NC]
RewriteRule ^(.*)$ https://guilherme.straccini.com/projects-monitor/$1 [L,R=301]
