name: Shell checker

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  shell-checker:
    runs-on: ubuntu-latest

    steps:

      - name: Check out code
        uses: actions/checkout@v5

      - name: Shellcheck
        run: shellcheck **/*.sh
